<html>
    <head>
        <link href="css/all.css" rel="stylesheet" type="text/css">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        
    </head>
    
      <style>
            .home{
                height: 50;
                width: 100%;
                background-image: url("images/roce.jpg")
            }    
            
            .navbar{
                background-color:#76b6c4;
                border-color: #7fcdff;
            }
            .card-header{
                background-color: #1da2d8;
                
            }
            .card .card-body{
                background-color: #7fcdff;
            }
          
            .leadtable{
              background-color:rgb(255,255,255);
              width:500px;
              height:100%;
              margin:0 auto;
              padding:30px;
              background-color: #7fcdff;
            }
          
            #selectionlist{
                list-style:none
            }
        
             #bowlImage{
            position: absolute;
            left:32%
            }
            #riceImage{
                position: relative;
                
            }
            .uploadbtn{
              background-color: #4CAF50;
              color: white;
              padding: 16px 20px;
              margin: 8px 0;
              border: none;
              cursor: pointer;
              opacity: 0.9;
            }
          
          .container{
              color: white
          }
          hr.border{
              color: white
          }
        </style>
    
    <body class="home page-template page-template-homepage page-template-homepage-php page page-id-8 page-homepage">
 
        <div class="header">
            <nav class="navbar fixed-top navbar-expand-lg text-nowrap navbar-light" style="background-color: #7fcdff;">
                <div class="container">
                  <a class="p-0 navbar-brand" href="index.html">
                        <img class="mx-2" height="38px" src="images/freerice.png" alt="" href=index.html>
                        <strong class="d-lg-none d-xl-inline">FreeRice  </strong>
                    </a>
                    <button class="navbar-toggler ml-auto" type="button" data-toggle="modal" data-target="#homepage_settings_modal">
                        <span class="navbar-icon"><span class="fas fa-cog fa-fw " aria-hidden="true"></span></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                    <li class="nav-item dropdown mx-1">
<!--
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="fas fa-book fa-fw " aria-hidden="true"></span> Manga</a>
                                    <div class="dropdown-menu">
                                    </div>
-->
                                    <a href="english" class="nav-link"><span class="fas fa-book fa-fw " aria-hidden="true"></span> English</a>
                                    </li>   
                                
                                    <li class="nav-item mx-1" id="login">
                                    <a class="nav-link" href="math" title="You need to log in."><span class="fas fa-book fa-fw " aria-hidden="true"></span> Math</a>
                                    </li>
                                
                                    <li class="nav-item mx-1 dropdown">
<!--
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="fas fa-users fa-fw " aria-hidden="true"></span> Community</a>
                                    <div class="dropdown-menu">
                                    </div>
-->
                                     <a href="science" class="nav-link"><span class="fas fa-book fa-fw " aria-hidden="true"></span>Science</a>
                                    </li>
                                    
                                    </ul>
<!--
                        <form id="quick_search_form" method="get" action="/quick_search" role="search" class="form-inline mx-1 quick-search">
                            <div class="input-group">
                            <div class="input-group-prepend">
                            <select class="form-control" id="quick_search_type" name="type">
                            <option value="all">All</option>
                            <option selected="" value="titles">Manga</option>
                            <option value="groups">Groups</option>
                            <option value="users">Users</option>
                            </select>
                            </div>
                            <input type="text" class="form-control" placeholder="Quick search" name="term" id="quick_search_input" required="">
                            <span class="input-group-append">
                            <button class="btn btn-secondary" type="submit" id="quick_search_button" name="submit"><span class="fas fa-search fa-fw " aria-hidden="true"></span></button>
                            </span>
                            </div>
                        </form>
-->
                        <ul class="navbar-nav">
                            <li class="nav-item mx-1 dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <span class="fas fa-user fa-fw " aria-hidden="true"></span> <span class="d-lg-none d-xl-inline" style="color: #000">{{username}}</span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="editprofile.html"><span class="fas fa-pencil-alt fa-fw " aria-hidden="true" title="Sign up"></span> Edit Profile </a>
                                    <a class="dropdown-item" href="uploadquestion.html"><span class="fas fa-pencil-alt fa-fw " aria-hidden="true" title="Sign up"></span> Upload questions </a>
                                    <a class="dropdown-item" href="signup.html"><span class="fas fa-pencil-alt fa-fw " aria-hidden="true" title="Sign up"></span> Log Out </a>
                                </div>
                            </li>
                        </ul>
                        
                    </div>
                </div>
            </nav>
        </div>
        
        <div class="container" role="main" id="content">
            
        </div>
        <br><br><br>
        


     
    

<form action="addquestion" method="POST">
          <div class="container">
            <h1>Create a Question</h1>
            <p>Please fill in this form to create a question</p>
            <hr class="border">

            <label><b>Question: </b></label>
            <input style="width: 600px;"type="text" placeholder="Input the Question" name="stmt" required>
            <br><br>
            <label for="psw"><b>CATEGORY</b></label> <br>
            <input type="radio" name="category" value="Science"> SCIENCE<br>
            <input type="radio" name="category" value="English"> ENGLISH<br>
            <input type="radio" name="category" value="Math"> MATH
            
            <br><br>

          
            
            <label><b>CHOICES: </b></label>
            <input type="text" name="c1" placeholder="Input the choice#1 " required>
            <input type="text" name="c2" placeholder="Input the choice#2 " required>
            <input type="text" name="c3" placeholder="Input the choice#3 " required>
            <input type="text" name="c4" placeholder="Input the choice#4 " required>
            <br>
              
            <label><b>CORRECT ANSWER: </b></label>
            <input type="number" name="ans" placeholder="Input the number of the correct answer" min="1" max="4" required>  
              

            <hr class="border">

            <p> By clicing the upload button, the question will be uploaded to database</p>
            <button type="submit" class="uploadbtn">Upload</button>
          </div>

        </form>
    </body>


</html>